style "chrome-gtk-frame" {
  ChromeGtkFrame::frame-color = "#dfd7cf"
  ChromeGtkFrame::inactive-frame-color = "#dfd7cf"
  ChromeGtkFrame::incognito-frame-color = "#dfd7cf"
  ChromeGtkFrame::incognito-inactive-frame-color = "#dfd7cf"
}

class "ChromeGtkFrame" style "chrome-gtk-frame"